{% extends "base.html" %}

{% block content %}
<div class="container mx-auto mt-8 px-4">
    <!-- Updated heading to h1 with consistent styles -->
    <h1 class="text-3xl font-bold mb-4">Albums</h1>
    {% if albums %}
    <div class="overflow-x-auto">
        <table class="min-w-full"> <!-- removed bg-white -->
            <thead class="bg-gray-800"> <!-- changed from bg-gray-200 -->
                <tr>
                    <th class="py-2 px-4 border-b text-left">Artist</th>
                    <th class="py-2 px-4 border-b text-left">Album</th>
                    <th class="py-2 px-4 border-b text-left">Year</th>
                    <th class="py-2 px-4 border-b text-left">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for album in albums %}
                <tr class="hover:bg-gray-700"> <!-- changed from hover:bg-gray-100 -->
                    <td class="py-2 px-4 border-b">
                        <a href="{{ url_for('artist_albums', artist_id=album.artist_id) }}" class="text-blue-500 hover:underline">
                            {{ album.artist_name }}
                        </a>
                    </td>
                    <td class="py-2 px-4 border-b"><a href="{{ album.uri }}" class="text-blue-500 hover:underline">{{ album.album_name }}</a></td>
                    <td class="py-2 px-4 border-b">{{ album.release_year }}</td>
                    <td class="py-2 px-4 border-b">
                        <form action="{{ url_for('delete_album_route', album_id=album.id) }}" method="POST" class="inline">
                            <button type="submit" class="text-red-500 hover:underline delete-button" data-item-type="album">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p class="text-gray-600">No albums found.</p>
    {% endif %}
</div>
{% endblock %}