{% extends "base.html" %}

{% block content %}
<div class="container mx-auto mt-8 px-4">
    <!-- Changed heading to h1 with consistent styles -->
    <h1 class="text-3xl font-bold mb-4">Artists and Their Genres</h1>
    {% if artists %}
    <div class="overflow-x-auto">
        <table class="min-w-full"> <!-- removed bg-white -->
            <thead class="bg-gray-800"> <!-- changed from bg-gray-200 -->
                <tr>
                    <th class="py-2 px-4 border-b text-left">Artist</th>
                    <th class="py-2 px-4 border-b text-left">Spotify</th>
                    <th class="py-2 px-4 border-b text-left">Genres</th>
                </tr>
            </thead>
            <tbody>
                {% for artist in artists %}
                <tr class="hover:bg-gray-700"> <!-- changed from hover:bg-gray-100 -->
                    <td class="py-2 px-4 border-b">
                        <a href="{{ url_for('artist_albums', artist_id=artist.id) }}"
                            class="text-blue-500 hover:underline">
                            {{ artist.artist_name }}
                        </a>
                    </td>
                    <td class="py-2 px-4 border-b">
                        <a href="{{ artist.uri }}" target="_blank" class="text-blue-500 hover:underline"
                            title="Open in Spotify">
                            🎧
                        </a>
                    </td>
                    <td class="py-2 px-4 border-b">{{ artist.genres }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p class="text-gray-600">No artists found.</p>
    {% endif %}
</div>
{% endblock %}