{% extends "base.html" %}

{% block content %}
<div class="container mx-auto mt-8 px-4">
    <h1 class="text-3xl font-bold mb-4">Tracks</h1>
    {% if tracks %}
    <div class="overflow-x-auto">
        <table class="min-w-full">
            <thead class="bg-gray-800">
                <tr>
                    <th class="py-2 px-4 border-b text-left">Artist</th>
                    <th class="py-2 px-4 border-b text-left">Album</th>
                    <th class="py-2 px-4 border-b text-left">Track</th>
                    <th class="py-2 px-4 border-b text-left">Year</th>
                    <th class="py-2 px-4 border-b text-left">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for track in tracks %}
                <tr class="hover:bg-gray-700">
                    <td class="py-2 px-4 border-b">{{ track.artist_name }}</td>
                    <td class="py-2 px-4 border-b">{{ track.album_name }}</td>
                    <td class="py-2 px-4 border-b"><a href="{{ track.uri }}" class="text-blue-500 hover:underline">{{ track.track_name }}</a></td>
                    <td class="py-2 px-4 border-b">{{ track.release_year }}</td>
                    <td class="py-2 px-4 border-b">
                        <form action="{{ url_for('delete_track_route', track_id=track.id) }}" method="POST" class="inline">
                            <button type="submit" class="text-red-500 hover:underline delete-button" data-item-type="track">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p class="text-gray-600">No tracks found.</p>
    {% endif %}
</div>
{% endblock %}